<% provide(:title, "Home") %>

<div class="container">
  <div class="jumbotron">
    <h1>Penny Auctions</h1>
    <p>
      Bid on the latest items from major brands. <br />
      Save up to 95% off the hottest electronics. <br />
      Never pay retail again!
    </p>
  </div>
</div>