<div class="container">
  <div class="jumbotron">
    <h1>Premium account</h1>
    <p>
      Using premium accounts you can bid premium auctions. Less competitively, higher chance to win!
    </p>
    <%= link_to("Buy premium ($10.00)", buy_premium_path, method: :patch, class: 'btn btn-primary btn-lg') %>
  </div>
</div>